.view-container {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    display: none;
}
#login {
    background-color: #868686;
}
#panel {
    background-color: grey;
    color: grey;
}
#login--window {
    border-radius: 25px;
    width: 25%;
    height: 25%;
    min-width: 400px;
    min-height: 200px;
    background-color: #414141;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
}
#panel--window {
    border-radius: 25px;
    width: 95%;
    height: 95%;
    min-width: 400px;
    min-height: 200px;
    background-color: #414141;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
}
#file--window {
    width: 90%;
    height: 90%;
    min-width: 300px;
    min-height: 200px;
    background-color: white;
    margin: 0;
    position: absolute;
    top: 47%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: black;
    padding: 20px;
}
/*#buttons--container {
    text-align: center;
    vertical-align: bottom;
    top: 250%;
    margin-top: 10px;
}*/
#login--button--container {
    text-align: center;
    margin-top: 20px;
}
