.view-container {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    display: none;
}
#login {
    background-color: #868686;
}
#panel {
    background-color: grey;
    color: grey;
}
#login--window {
    border-radius: 25px;
    width: 25%;
    height: 25%;
    min-width: 400px;
    min-height: 200px;
    background-color: #414141;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
}
#panel--window {
    border-radius: 25px;
    width: 95%;
    height: 95%;
    min-width: 400px;
    min-height: 200px;
    background-color: #414141;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    padding: 20px;
}
#panel--window .row {
    height: 100%;
}
.files--card {
    height: 75%;
    max-width: 500px;
    min-height: 200px;
    background-color: white;
    color: black;
}
#files--card .card-body {
    padding: 1.25rem 0px;
}
#login--button--container {
    text-align: center;
    margin-top: 20px;
}
#files--card {
    padding: 1.25rem 0px;
}
.file-entry {
    margin: 2px;
    cursor: pointer;
    padding: 0px 20px;
}
.file-entry:hover {
    background-color: #eee;
}
.file-entry--name {
    line-height: 30px;
    margin: 5px;
}
#files--editor {
    height: 100%;
}
#api-status-container {
    display: inline-block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 0px;
}
.files--secondary {
    display: none;
}